<% include ./inc/header.ejs %>


</html>

<nav class="nav">
  <div class="container">
    <a href="/index.html" class="nav__logo">
      <img src="./assets/images/logo.svg" alt="LOGO" />
    </a>
    <ul class="nav__menu">
      <li class="nav__menu-item">Why slack?</li>
      <li class="nav__menu-item">Solutions</li>
      <li class="nav__menu-item">Resources</li>
      <li class="nav__menu-item nav__menu-item--color">Enterprise</li>
      <li class="nav__menu-item nav__menu-item--color">Pricing</li>
    </ul>
    <div class="nav__sign-wrap">
      <a href="#" class="nav__sign-in">Sign in</a>
      <button class="nav__get-started">GET STARTED</button>
    </div>
    <button class="nav__toggle-btn">
      <img src="./assets/images/menu.svg" alt="MENU" />
    </button>
  </div>
</nav>
<header class="header">
  <div class="container">
    <div class="header__title-wrap">
      <span class="header__title-top">
        WORK FROM HOME
      </span>
      <h1 class="header__title-txt">
        <!-- Slack brings the team<br />
        together, wherever<br />
        you are -->
        Slack brings the team together, wherever you are
      </h1>
      <p class="header__title-bottom">
        With all of your communication and tools in one place, remote teams will
        stay productive no matter where you’re working from.
      </p>
      <div class="header__btn-wrap">
        <button class="header__btn header__btn--purple">LEARN MORE</button>
        <button class="header__btn header__btn--white">CONTACT US</button>
      </div>
    </div>
    <div class="header__img-wrap">
      <img src="./assets/images/img-hero-remote.jpg" alt="" />
    </div>
  </div>
</header>
<section class="inbox">
  <div class="container">
    <div class="inbox__title-wrap">
      <h2 class="inbox__title-txt">Break out of the inbox</h2>
      <span class="inbox__title-copy">Working in channels gives everyone on your team a shared view of
        progress and purpose.</span>
    </div>
    <div class="inbox__video-wrap">
      <video autoplay loop muted>
        <source src="./assets/brand-campaign_inline-video.mp4" />
      </video>
    </div>
    <div class="inbox__card-wrap">
      <div class="inbox__card-item">
        <div class="inbox__card-icon">
          <img src="./assets/images/inbox-1.svg" alt="" />
        </div>
        <h3 class="inbox__card-title">
          Conversations, organized
        </h3>
        <p class="inbox__card-content">
          Instead of a single overstuffed inbox, conversations in Slack happen
          in dedicated spaces called channels.
        </p>
      </div>
      <div class="inbox__card-item">
        <div class="inbox__card-icon">
          <img src="./assets/images/inbox-2.svg" alt="" />
        </div>
        <h3 class="inbox__card-title">
          Get looped in, not out
        </h3>
        <p class="inbox__card-content">
          Slack makes it simple to follow conversations or find important
          information in an easily searchable archive.
        </p>
      </div>
      <div class="inbox__card-item">
        <div class="inbox__card-icon">
          <img src="./assets/images/inbox-3.svg" alt="" />
        </div>
        <h3 class="inbox__card-title">
          Give focus a chance
        </h3>
        <p class="inbox__card-content">
          Unlike email, Slack lets you choose which conversations are most
          important — and which can wait.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="change">
  <div class="container">
    <div class="change__title-wrap">
      <h2 class="change__title-txt">
        Make the change to channels
      </h2>
      <p class="change__content-txt">
        Productive teamwork happens in channels — organized spaces for
        everything related to a project, topic or team.
      </p>
      <button class="has-underline-btn">
        Learn more about channels →
      </button>
    </div>
    <div class="change__video-wrap">
      <video autoplay loop muted>
        <source src="./assets/channels-inline1.mp4" />
      </video>
    </div>
  </div>
</section>
<section class="shared">
  <div class="container">
    <div class="shared__video-wrap">
      <video autoplay loop muted>
        <source src="./assets/channels-inline1.mp4" />
      </video>
    </div>
    <div class="shared__title-wrap">
      <h2 class="shared__title-txt">
        Shared channels bring companies together
      </h2>
      <p class="shared__content-txt">
        Now channels can help you work as closely with external partners and
        clients as you do with teams down the hall.
      </p>
      <button class="has-underline-btn">
        See how with shared channels →
      </button>
    </div>
  </div>
</section>
<section class="world">
  <div class="container">
    <div class="world__title-wrap">
      <h2 class="world__title-txt">Trusted the world over</h2>
      <p class="world__content-txt">
        Teams of every size, shape and kind have already made Slack the place
        where their work happens.
      </p>
      <button class="has-underline-btn">
        See how with shared channels →
      </button>
    </div>
    <div class="world__slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="world__slide-card">
            <figure class="world__slide-img-wrap">
              <img src="./assets/images/slack-customer-intuit.jpg" alt="" />
            </figure>
            <figcaption class="world__slide-content-wrap">
              <img class="world__slide-content-img" src="./assets/images/intuit.png" alt="intuit" />
              <blockquote class="world__slide-quote">
                <p>
                  “Our teams tell us they’re working together and solving
                  problems much faster, because although they are spread across
                  the globe, Slack makes it like you’re in the same room.”
                </p>
              </blockquote>
              <div class="world__slide-customer-name">Pam Whitmore</div>
              <div class="world__slide-customer-title">
                group manager, IT, Intuit
              </div>
              <div class="world__slide-read-story">
                <span>READ STORY</span>
                <span class="world__slide-arrow">→</span>
              </div>
            </figcaption>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="world__slide-card">
            <figure class="world__slide-img-wrap">
              <img src="./assets/images/slack-customer-lyft.jpg" alt="" />
            </figure>
            <figcaption class="world__slide-content-wrap">
              <img class="world__slide-content-img" src="./assets/images/lyft.png" alt="intuit" />
              <blockquote class="world__slide-quote">
                <p>
                  “When managing three hubs nationally you can’t have a good
                  conversation over email—it’s not quick enough. Coming together
                  in Slack channels allows us to easily discuss day-to-day management topics.
                  That’s invaluable.”
                </p>
              </blockquote>
              <div class="world__slide-customer-name">Benjamin Sternsmith</div>
              <div class="world__slide-customer-title">
                Area Vice President of Sales, Lyft
              </div>
            </figcaption>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="world__slide-card">
            <figure class="world__slide-img-wrap">
              <img src="./assets/images/slack-customer-shopify.jpg" alt="" />
            </figure>
            <figcaption class="world__slide-content-wrap">
              <img class="world__slide-content-img" src="./assets/images/shopify.png" alt="intuit" />
              <blockquote class="world__slide-quote">
                <p>
                  “The fact that Slack exists and is such an essential tool, it's really
                  helped us with scaling and still feeling connected to one another across
                  remote offices and remote teams.”
                </p>
              </blockquote>
              <div class="world__slide-customer-name">Lisa Madokoro</div>
              <div class="world__slide-customer-title">
                Culture Specialist, Shopify
              </div>
            </figcaption>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="world__slide-card">
            <figure class="world__slide-img-wrap">
              <img src="./assets/images/slack-customer-everlane.jpg" alt="" />
            </figure>
            <figcaption class="world__slide-content-wrap">
              <img class="world__slide-content-img" src="./assets/images/everlane.png" alt="intuit" />
              <blockquote class="world__slide-quote">
                <p>
                  “Having Shared Channels means that the setup is so much easier,
                  especially for our vendors if they’re already in Slack. I can definitely
                  see us moving over pre-existing relationships into Slack.”
                </p>
              </blockquote>
              <div class="world__slide-customer-name">Brian Alenduff</div>
              <div class="world__slide-customer-title">
                Digital Product Manager, Everlane & Happy Returns
              </div>
            </figcaption>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="world__partners-wrap">
      <div class="world__partners-item">
        <img src="./assets/images/airbnb-logo.png" alt="" />
      </div>
      <div class="world__partners-item">
        <img src="./assets/images/electronic-arts-logo.png" alt="" />
      </div>
      <div class="world__partners-item">
        <img src="./assets/images/ameritrade-logo.png" alt="" />
      </div>
      <div class="world__partners-item">
        <img src="./assets/images/oracle-logo.png" alt="" />
      </div>
      <div class="world__partners-item">
        <img src="./assets/images/target-logo.png" alt="" />
      </div>
      <div class="world__partners-item">
        <img src="./assets/images/autodesk-logo.png" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="new">
  <h2 class="new__title">What’s new at Slack</h2>
  <div class="container">
    <div class="new__card-wrap">
      <div class="new__card-item">
        <figure class="new__card-img-wrap">
          <img src="./assets/images/img-promo-remote-work.jpg" alt="" />
        </figure>
        <figcaption class="new__card-detail-wrap">
          <div class="new__card-category">How-to</div>
          <h4 class="new__card-title">
            Your guide to working remotely in Slack
          </h4>
        </figcaption>
        <div class="new__card-bottom">
          <span>LEARN MORE</span>
          <span class="new__card-bottom-arrow">→</span>
        </div>
      </div>
      <div class="new__card-item">
        <figure class="new__card-img-wrap">
          <img src="./assets/images/shared-channels-hp-promo.png" alt="" />
        </figure>
        <figcaption class="new__card-detail-wrap">
          <div class="new__card-category">Blog</div>
          <h4 class="new__card-title">
            Shared channels: A better way to work with people outside your
            company
          </h4>
        </figcaption>
        <div class="new__card-bottom">
          <span>READ STORY</span>
          <span class="new__card-bottom-arrow">→</span>
        </div>
      </div>
      <div class="new__card-item">
        <figure class="new__card-img-wrap">
          <img src="./assets/images/gsuite-calendar-email-files.png" alt="" />
        </figure>
        <figcaption class="new__card-detail-wrap">
          <div class="new__card-category">How-to</div>
          <h4 class="new__card-title">
            Slack and G Suite bring productivity to your everyday work
          </h4>
        </figcaption>
        <div class="new__card-bottom">
          <span>LEARN MORE</span>
          <span class="new__card-bottom-arrow">→</span>
        </div>
      </div>
    </div>
  </div>
  <div class="new__mobile-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="new__card-item">
          <figure class="new__card-img-wrap">
            <img src="./assets/images/img-promo-remote-work.jpg" alt="" />
          </figure>
          <figcaption class="new__card-detail-wrap">
            <div class="new__card-category">Blog</div>
            <h4 class="new__card-title">
              Shared channels: A better way to work with people outside your
              company
            </h4>
          </figcaption>
          <div class="new__card-bottom">
            <span>READ STORY</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="new__card-item">
          <figure class="new__card-img-wrap">
            <img src="./assets/images/img-promo-remote-work.jpg" alt="" />
          </figure>
          <figcaption class="new__card-detail-wrap">
            <div class="new__card-category">Blog</div>
            <h4 class="new__card-title">
              Shared channels: A better way to work with people outside your
              company
            </h4>
          </figcaption>
          <div class="new__card-bottom">
            <span>READ STORY</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="new__card-item">
          <figure class="new__card-img-wrap">
            <img src="./assets/images/img-promo-remote-work.jpg" alt="" />
          </figure>
          <figcaption class="new__card-detail-wrap">
            <div class="new__card-category">Blog</div>
            <h4 class="new__card-title">
              Shared channels: A better way to work with people outside your
              company
            </h4>
          </figcaption>
          <div class="new__card-bottom">
            <span>READ STORY</span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<section class="choose">
  <h2 class="choose__title">
    Choose a better way to work
  </h2>
  <div class="choose__btn-wrap">
    <button class="choose__btn choose__btn--white">TRY SLACK</button>
    <button class="choose__btn choose__btn--transparent">CONTACT SALES</button>
  </div>
</section>
<footer class="footer">
  <nav class="footer__nav">
    <div class="container">
      <div class="footer__nav-logo-wrap">
        <img class="footer__nav-logo-wrap-img" src="./assets/images/footer-logo.svg" alt="" />
      </div>
      <div class="footer__nav-menu-wrap">
        <!--PRODUCT-->
        <div class="footer__nav-menu-list-wrap">
          <h5 class="footer__nav-menu-list-title">PRODUCT</h5>
          <ul class="footer__nav-menu-list">
            <li>Features</li>
            <li>Enterprise</li>
            <li>Security</li>
            <li>Customer Stories</li>
            <li>Pricing</li>
            <li>Slack Demo</li>
          </ul>
        </div>
        <!--SLACK FOR TEAMS-->
        <div class="footer__nav-menu-list-wrap">
          <h5 class="footer__nav-menu-list-title">SLACK FOR TEAMS</h5>
          <ul class="footer__nav-menu-list">
            <li>Engineering</li>
            <li>Financial Services</li>
            <li>Sales</li>
            <li>IT</li>
            <li>Marketing</li>
            <li>Customer Support</li>
            <li>Human Resources</li>
            <li>Project Management</li>
            <li>Media</li>
          </ul>
        </div>
        <!--RESOURCES-->
        <div class="footer__nav-menu-list-wrap">
          <h5 class="footer__nav-menu-list-title">RESOURCES</h5>
          <ul class="footer__nav-menu-list">
            <li>Slack Tips</li>
            <li>Blog</li>
            <li>Slack Certified Program</li>
            <li>Help Center</li>
            <li>API</li>
            <li>App Directory</li>
            <li>Download Slack</li>
            <li>Partners</li>
          </ul>
        </div>
        <!--COMPANY-->
        <div class="footer__nav-menu-list-wrap">
          <h5 class="footer__nav-menu-list-title">COMPANY</h5>
          <ul class="footer__nav-menu-list">
            <li>About Us</li>
            <li>Leadership</li>
            <li>News</li>
            <li>Media Kit</li>
            <li>Careers</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="footer__copyright">
    <div class="container">
      <p>
        © Copyright 2020 Slack Technologies, All rights reserved
    </div>
  </div>
</footer>
<div class="side-menu">
  <div class="side-menu__top">
    <div class="side-menu__top-logo">
      <img src="./assets/images/logo.svg" alt="LOGO" />
    </div>
    <button class="side-menu__close-btn">
      <img src="./assets/images/close.svg" alt="close" />
    </button>
  </div>
  <nav class="side-menu__nav">
    <ul class="side-menu__menu-list">
      <li class="side-menu__list-item">
        Why Slack?
      </li>
      <li class="side-menu__list-item">
        Solutions
      </li>
      <li class="side-menu__list-item">
        Resources
      </li>
      <li class="side-menu__list-item">
        Enterprise
      </li>
      <li class="side-menu__list-item">
        Pricing
      </li>
    </ul>
  </nav>
  <div class="side-menu__bottom-wrap">
    <button class="side-menu__bottom-btn side-menu__bottom-btn--white">
      SIGN IN
    </button>
    <button class="side-menu__bottom-btn  side-menu__bottom-btn--purple">
      DOWNLOAD SLACK
    </button>
  </div>
</div>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="../js/slack.js"></script>
</body>

</html>
<% include ./inc/footer.ejs %>